<div style="padding: 20 0; margin: 0 auto; width: 400px;">

  <p>
    <h2>Olá, {{ student_name }}</h2>
  </p>

  <p>
    <h2 style="color:#3baf6f;">Sua pergunta foi respondida!</h2>
  </p>

  <br />

  <div>
    <strong>{{{question}}}</strong><br />
    <small style="color:#999;">{{{question_date}}}</small><br />
  </div>

  <br />

  <div style="margin-left: 20px">
    <span>{{{answear}}}</span>
    <br />
    <small style="color:#999;">{{{answear_date}}}</small>
  </div>

  <br />
  <br />

</div>
