<div style="padding: 20 0; margin: 0 auto; width: 400px;">

  <p>
    <h2>Olá, {{ student_name }}</h2>
  </p>

  <p>
    <h2 style="color:#3baf6f;">Bem vindo à Gympoint</h2>
  </p>

  <p>Detalhes do plano contratado</p>
  <p>
    <strong>Plano:</strong> {{plan_title }} <br />
    <strong>Início do plano:</strong> {{plan_start_date}} <br />
    <strong>Fim do plano:</strong> {{plan_end_date}} <br />
    <strong>Preço total:</strong> {{plan_total_price}} <br />
  </p>

  <br />
  <br />

</div>
